body {
  font-family: Arial, sans-serif;
  background-color: #f7f9fc;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
  box-sizing: border-box;
}

.city-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.weather-table {
  font-size: 16px;
  color: #333;
}

.table-header {
  font-weight: bold;
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.table-row {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

.table-row:nth-child(even) {
  background-color: #f7f7f7;
}

.table-row div {
  padding: 5px 10px;
}

.error-message {
  text-align: center;
  color: #ff0000;
  font-weight: bold;
}
